[user]
	name = Ryan Armstrong
	email = ryan@cavaliercoder.com
[core]
	excludesfile = ~/.gitignore_global
[push]
	default = upstream
[credential]
	helper = cache --timeout=86400
[color]
	ui = auto
# [format]
# 	pretty = format:%C(yellow)%h %Cblue%>(12)%ad %Cgreen%<(7)%aN%Cred%d %Creset%s
# [log]
#   date = relative